<footer class="site-footer">
  {{/* Privacy and Terms */}}
  {{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
  <p class="powered-by">
    {{ with site.GetPage "privacy.md" }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
    {{ with site.GetPage "terms.md" }}
      {{ if site.GetPage "privacy.md" }} &middot; {{ end }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
  </p>
  {{ end }}

  {{/* Copyright */}}
  <p class="powered-by">
    {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}
  </p>

  {{/* License information */}}
  {{ partial "site_footer_license" . }}
</footer>

{{/* Visitor Map - Hidden by default */}}
<div hidden>
  <script type='text/javascript' id='clustrmaps'
    src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=tt&d=XKNK7dc_dRzDLefpM0OILAUzWObtgMZBUQvVPv44fIM&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff'></script>
</div>
